<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="user" value="importer" />
    <add key="password" value="importer" />
    <add key="vault" value="Sample Vault"/>
  </appSettings>
</configuration>